{{define "index.tmpl"}}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">

    <title>欢迎进入</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">

    <link rel="stylesheet" type="text/css" href="/xxx/css/main.css" />
    <script src="/xxx/js/jquery-1.2.1.min.js" type="text/javascript"></script>
    <script src="/xxx/js/menu.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/xxx/css/style.css" />

    <script type="text/javascript">if('${IsLogin }'==false){location.href="login.html";}</script></head>

<body>
<div id="block">
    <div id="top">
        <img src="xxx/img/0.png" height="80%" width="100%">
    </div>
    <div id="left">
        <div class="menu">
            &nbsp;
        </div>
        <ul id="menu">
            <li>
                <a href="CcheckList.html" >查看流水单</a>
                <ul>
                    <li>
                        <a href="ViewBill?type=NotFinished" >未完成流水单</a>
                    </li>
                    <li>
                        <a href="ViewBill?type=Finished" >维修历史</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="CpersonalInfo.html" >个人信息</a>
                <ul>
                    <li>
                        <a href="ViewUserInfo?type=Info" >查看信息</a>
                    </li>
                    <li>
                        <a href="ViewUserInfo?type=password" >修改密码</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/carsManagement">车辆管理</a>
                <ul>
                    <li>
                        <a href=" ManageCar?type=Search">查看车辆</a>
                    </li>
                    <li>
                        <a href="/addCars">增加车辆</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href=" ManageCar?type=CreateCheck">维修</a>
            </li>
            <li>
                <a href="index" >退出</a>
            </li>
        </ul>
        <br />
        <br />
    </div>
    <div id="Sright">
        <div>Hello world!</div>
    </div>
</div>
</body>
</html>

{{end}}

